body {
  font-family: Arial;
  text-align: center;
}

#overlayContainer {
  position: relative;
  width: 700px;
  margin: auto;
}

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 8px;
  cursor: move;
  border-radius: 4px;
}

.delete-btn {
  margin-left: 8px;
  color: red;
  cursor: pointer;
  font-weight: bold;
}
