body {
  font-family: Arial;
  background: #f5f5f5;
}

.app {
  text-align: center;
}

.video-box {
  margin: 20px auto;
}

.overlay-container {
  position: relative;
  width: 700px;
  margin: auto;
}

.overlay-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 12px;
  cursor: move;
  border-radius: 5px;
}

.overlay-box button {
  margin-left: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
